body {
    text-align: center;
}

h1 {
    text-align: left;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid blue;
    background-color: lightblue;
    text-align: right;
    padding: 0.5em;
}

#header {
    color: white;
    background-color: darkblue;
    border: 1px solid blue;
    
}

#rate {
    color: red;
}

